* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 10px;
  background-color: rgb(62, 62, 62);
  color: white;
  height: 100%;

  body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(84, 84, 84, 0.701);
  width: 100%;
  height: 12rem;
  padding: 0rem 16rem;

  .fotogramLogo {
    background-image: url("logos/coup_logo.GIF");
    background-repeat: no-repeat;
    background-size: contain;
    width: 22rem;
    height: 12rem;

  }
}

main {
  flex-grow: 1;
  font-size: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8rem 0rem;


  .headlineArea {
    margin-bottom: 4rem;

    h1 {
      font-size: 3.6rem;
    }
  }

  #collageArea {
    padding: 4.8rem 0rem;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    width: 100%;
    padding: 0rem 10rem;
    flex-wrap: wrap;

    #pictureOne {
      background-image: url("collagePictures/C\ Snake\ -\ hintergrund.png");
      background-size: cover;
      background-position: center;
    }

    #pictureTwo {
      background-image: url("collagePictures/CARNAL.png");
      background-size: cover;
      background-position: center;
    }

    #pictureThree {
      background-image: url("collagePictures/Coup\ Life\ BLUR\ Smaller.png");
      background-size: cover;
      background-position: center;
    }

    #pictureFour {
      background-image: url("collagePictures/cross\ vs.png");
      background-size: cover;
      background-position: center;
    }

    #pictureFive {
      background-image: url("collagePictures/drugwar.png");
      background-size: cover;
      background-position: center;
    }

    #pictureSix {
      background-image: url("collagePictures/Embroided\ Logo\ weiss\ rot.png");
      background-size: cover;
      background-position: center;
    }

    #pictureSeven {
      background-image: url("collagePictures/SPIDER.png");
      background-size: cover;
      background-position: center;
    }

    #pictureEight {
      background-image: url("collagePictures/SPIDER\ CIRCLE.png");
      background-size: cover;
      background-position: center;
    }

    #pictureNine {
      background-image: url("collagePictures/Women\ Handgun.jpg");
      background-size: cover;
      background-position: center;
    }

    #pictureTen {
      background-image: url("collagePictures/women\ logo.png");
      background-size: cover;
      background-position: center;
    }

    #pictureEleven {
      background-image: url("collagePictures/Akuma\ PSD.png");
      background-size: cover;
      background-position: center;
    }

    #pictureTwelve {
      background-image: url("collagePictures/MOLOTOW.png");
      background-size: cover;
      background-position: center;
    }

    .photoAlbumInput {
      background-color: white;
      width: 20rem;
      height: 20rem;
      border-radius: 2rem;
      cursor: pointer;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(84, 84, 84, 0.701);
  width: 100%;
  height: 17rem;


  .fotogramLogo {
    background-image: url("logos/couLogoBlack.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 17rem;
    height: 17rem;
  }
}